<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
		 backupStaticAttributes="false"
		 colors="true"
		 convertErrorsToExceptions="true"
		 convertNoticesToExceptions="true"
		 convertWarningsToExceptions="true"
		 processIsolation="false"
		 stopOnFailure="false"
		 syntaxCheck="false"
		 bootstrap="./tests/bootstrap.php">

	<testsuites>
		<testsuite name="PublishServiceClient unit tests">
			<directory>./tests/UnitTests</directory>
		</testsuite>
		<testsuite name="PublishServiceClient integration tests">
			<directory>./tests/IntegrationTests</directory>
		</testsuite>
	</testsuites>
	<php>
		<var name="endpoint" value="http://localhost:3000"/>
		<var name="username" value="devuser"/>
		<var name="password" value="topsecret"/>
		<var name="adminUsername" value="devadmin"/>
		<var name="adminPassword" value="topsecret"/>
	</php>
</phpunit>